In [44]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import seaborn as sn
import matplotlib.pyplot as plt
from sklearn import metrics

In [45]:
data = pd.read_csv("Student_Marks.csv")
data.head()

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811
3               6       7.909  53.018
4               8       7.811  55.299

In [46]:
data.isnull().sum()

number_courses    0
time_study        0
Marks             0
dtype: int64

In [47]:
data.describe()

       number_courses  time_study       Marks
count      100.000000  100.000000  100.000000
mean         5.290000    4.077140   24.417690
std          1.799523    2.372914   14.326199
min          3.000000    0.096000    5.609000
25%          4.000000    2.058500   12.633000
50%          5.000000    4.022000   20.059500
75%          7.000000    6.179250   36.676250
max          8.000000    7.957000   55.299000

In [48]:
print(data.number_courses.value_counts())
print(data.time_study.value_counts())

number_courses
3    22
4    21
6    16
8    16
7    15
5    10
Name: count, dtype: int64
time_study
4.508    1
4.869    1
1.629    1
4.633    1
2.518    1
        ..
3.864    1
1.299    1
0.156    1
4.378    1
6.335    1
Name: count, Length: 100, dtype: int64

In [49]:
data.head()

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811
3               6       7.909  53.018
4               8       7.811  55.299

In [50]:
#split data
x = data.drop('Marks', axis=1)
y = data['Marks']

In [51]:
data.shape

(100, 3)

In [52]:
print(x)
print(y)

    number_courses  time_study
0                3       4.508
1                4       0.096
2                4       3.133
3                6       7.909
4                8       7.811
..             ...         ...
95               6       3.561
96               3       0.301
97               4       7.163
98               7       0.309
99               3       6.335

[100 rows x 2 columns]
0     19.202
1      7.734
2     13.811
3     53.018
4     55.299
       ...
95    19.128
96     5.609
97    41.444
98    12.027
99    32.357
Name: Marks, Length: 100, dtype: float64

In [53]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.1, random_state=2)

In [54]:
print(x_train.shape, x_test.shape)

(90, 2) (10, 2)

In [55]:
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [57]:

x_train_predict = model.predict(x_train)
print(x_train_predict)

[32.55382342 27.33507406 36.52906583 13.985228   22.65454597 37.02664801
 46.68751921  7.13556321 13.30703393  2.5904932  39.09915848  7.99436588
 18.30995065 10.68456525  7.05519196 21.23223434  5.85232409 39.99950053
 37.77618389 23.37247222 15.44004628  0.61731977 45.61469111 28.76099681
 16.16790886 46.07434503 31.08003936 40.24964702 22.3628568  38.06967697
 28.55690442 38.47785516  3.82587101 48.70132844 23.12864765 12.62071074
 29.11950649  8.45492339  5.87128658 21.48599196 31.67605497 -0.14034195
 40.51424128 48.03487462 47.14717313 18.7560604   6.40679702  9.39590781
 38.90861355 23.99196832 15.60891792 28.80524371 28.36184477  7.37667697
 27.73873754 48.81601684 40.1530208   4.27468828 29.75164645 11.73481645
 20.34001813 20.67053588  7.65572229 25.22553893 19.82708129 31.81151306
 39.56242351 41.10032385 26.21167385 23.29119736 49.89335966  1.20882065
 45.96146383 43.29564856 25.74208689  8.64817913 24.61056083 25.99132978
 41.16985845 42.63280586 23.16747952 20.35175838 20.45831765  2.57965656
 40.24693951 10.40190882 13.07856074 23.33183643 23.17921977  0.85572601]

In [58]:
error_score = metrics.r2_score(y_train, x_train_predict)
print('R Score Error :', error_score)

R Score Error : 0.9447703942853383

In [59]:

x_test_predict = model.predict(x_test)
print(x_test_predict)

[19.28795973 28.5072359  48.97224462 19.79276744 32.95297217 32.11674311
 17.07276893 31.2922543   2.81083727 21.38665821]

In [60]:
error_score = metrics.r2_score(y_test, x_test_predict)
print('R Score Error :', error_score)

R Score Error : 0.878215883678142

In [67]:
#Building the Predictive system
input_data = (4,4.410)
#Change to numpy array
input_data_as_array = np.asarray(input_data)

#Reshape 
input_reshaped = input_data_as_array.reshape(1, -1)

prediction = model.predict(input_reshaped)
print(prediction)

[23.99196832]

c:\Users\USER\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(